body {
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}

* {
box-sizing: border-box;
}

#myInput {
/*background-image: url('./TCBEED Website_files/searchicon.png');*/
background-position: 10px 10px;
background-repeat: no-repeat;
width: 100%;
font-size: 16px;
padding: 12px 20px 12px 40px;
border: 1px solid #ddd;
margin-bottom: 12px;
}

#myTable {
border-collapse: collapse;
width: 100%;
border: 1px solid #ddd;
font-size: 18px;
}

#myTable th, #myTable td {
text-align: left;
padding: 12px;
}

#myTable tr {
border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
background-color: #f1f1f1;
}

.flag{
  font-style: italic;
  color: gray;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid grey;
    width: 75px;
    height: 75px;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #left {
    width: auto;
    float: left;
}
#right {
    width: auto;
    float: right;
  }

  #tableContainer {
    margin-bottom: 50px; /* Space for pagination */
  }
  
  #pagination {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  #previousButton,
  #nextButton {
    padding: 5px 10px;
    background-color: maroon;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #previousButton:disabled,
  #nextButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-top: -125px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: absolute;
  z-index: 1;
  font-size: 15px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s;
  animation: fadein 0.5s;
  /*-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;*/
}

#snackbar.hide {
  visibility: visible;
  -webkit-animation:  fadeout 0.5s 2.5s;
  animation: fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
  
progress {
  width: 100%;
}